.site {
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: #3041db;
}

.spacer {
  height: 3vmin;
}

.header-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(16px + 2vmin);
}

.picture {
  height: 30vmin;
  border-radius: 15vmin;
  pointer-events: none;
}

.portfolio-item {
  border-radius: 5px;
  width: 100vw;
  height: 270px;
}

.portfolio-link {
  color: #4a6ee4;
  padding-bottom: calc(8px + 1vmin);
  font-size: 50px;
}

.portfolio-text {  
  color: black; 
  font-size: calc(12px + 1vmin);
}

.portfolio {
  text-align: left;
  background-color: rgb(255, 252, 89);
  /* background-color: #e3e8f1; */
  border: 1px solid black;
}